.navbar {
    padding-top: 5px;
    padding-right: 65px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin-left: 25px;
}

.header {
    background-color: lightgoldenrodyellow;
}

.title {
    padding-top: 5px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    display: inline-block;
    font-size: 40px;
}

.submit-btn {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(135deg, #711f8d 0%, #a818da 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px
}

.product-list {
    display: grid;
    background-color: red;
}

